# Python
venv/

# Host-specific directories populated automatically at runtime
deploy/deploy-all.sh
deploy/chat-llm/ollama-state/
deploy/chat-llm/data/
deploy/chat-llm/open-webui-state/
deploy/stable-diffusion/comfyui-persistence/

# Neovim config tests
dotfiles/neovim/tests/.tests

